.group_div {
  width: 100%;
}
.group_div .group_window {
  width: 100%;
  min-height: 180px;
  height: 35%;
  position: relative;
}
.group_div .group_window .group_machine {
  height: 152px;
  width: 160px;
  position: relative;
  top: 20px;
  left: 25%;
}
.group_div .group_window .group_light {
  background: url('../images/group/light.png') repeat;
  width: 110%;
  position: absolute;
  bottom: 0px;
  left: -10px;
  min-height: 40px;
  height: 25%;
}
.group_div .group_window .group_title {
  position: absolute;
  bottom: 8%;
  left: 5%;
}
.group_div .group_price {
  border-bottom: 1px  solid #cecece;
  width: 100%;
  min-height: 80px;
  height: 20%;
}
.group_div .group_price .group_price_div {
  clear: both;
}
.group_div .group_price .group_price_div .group_price_left {
  margin: 10px 0px 0px 20px;
}
.group_div .group_price .group_price_div .group_price_right {
  margin: 10px 20px 0px 0px;
  width: 20%;
}
.group_div .group_price .group_price_div .group_price_right img {
  width: 100%;
  cursor: pointer;
}
.group_div .group_price .group_price_div .group_price_bottom {
  margin: 5px 0px 0px 20px;
}
.group_div .group_num {
  border-bottom: 1px  solid #cecece;
  width: 100%;
  min-height: 80px;
  height: 20%;
}
.group_div .group_num .group_num_top {
  width: 80%;
  margin: 10px auto 0px auto;
  text-align: center;
}
.group_div .group_num .group_num_bottom {
  width: 80%;
  margin: 0px auto 0px auto;
  text-align: center;
}
